<!-- Top Left -->
<div
  class="fixed top-[40%] left-[45%] w-[10vw] transform -translate-1/2 aspect-square border-b-8 border-r-8 border-emerald-400 rounded-br-full blur-sm"
></div>
<!-- Top Right -->
<div
  class="fixed top-[40%] left-[55%] w-[10vw] transform -translate-1/2 aspect-square border-b-8 border-l-8 border-b-indigo-400 border-l-emerald-400 rounded-bl-full blur-sm"
></div>
<!-- Bottom Left -->
<div
  class="fixed top-[60%] left-[45%] w-[10vw] transform -translate-1/2 aspect-square border-t-8 border-r-8 border-t-emerald-400 border-r-indigo-400 rounded-tr-full blur-sm"
></div>
<!-- Bottom Right -->
<div
  class="fixed top-[60%] left-[55%] w-[10vw] transform -translate-1/2 aspect-square border-t-8 border-l-8 border-indigo-400 rounded-tl-full blur-sm"
></div>

<!-- Diagonal top-left to center group -->
<div
  class="fixed top-[25%] left-[35%] w-[10vw] transform -translate-1/2 aspect-square border-t-8 border-l-8 border-emerald-400 rounded-tl-full blur-sm animate-pulse"
></div>

<!-- Diagonal top-right to center group -->
<div
  class="fixed top-[25%] left-[65%] w-[10vw] transform -translate-1/2 aspect-square border-t-8 border-r-8 border-t-emerald-400 border-r-indigo-400 rounded-tr-full blur-sm animate-pulse"
></div>

<!-- Diagonal bottom-right to center group -->
<div
  class="fixed top-[75%] left-[65%] w-[10vw] transform -translate-1/2 aspect-square border-b-8 border-r-8 border-indigo-400 rounded-br-full blur-sm animate-pulse"
></div>

<!-- Diagonal bottom-left to center group -->
<div
  class="fixed top-[75%] left-[35%] w-[10vw] transform -translate-1/2 aspect-square border-b-8 border-l-8 border-b-indigo-400 border-l-emerald-400 rounded-bl-full blur-sm animate-pulse"
></div>
