<section
  id="projects"
  class="bg-[#0F0F1A] text-white py-20 px-6 flex flex-col items-center"
>
  <h2 class="text-4xl font-bold text-indigo-400 mb-8">My Projects</h2>

  <div class="relative w-2/3 max-w-full">
    <div
      class="flex transition-transform duration-500 ease-in-out w-full h-full gap-3"
      [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
    >
      <div
        *ngFor="let project of projects"
        class="min-w-full bg-white/10 backdrop-blur-md rounded-xl border border-white/10 shadow-xl"
      >
        <div class="flex flex-row">
          <img
            *ngIf="project.imgsrc"
            [src]="project.imgsrc"
            alt="Porject screenshot"
            loading="lazy"
            class="w-2/3 aspect-video rounded-l-xl border-r border-white"
          />
          <div
            *ngIf="!project.imgsrc"
            class="flex justify-center items-center w-2/3 aspect-video rounded-l-xl border-r border-white top-1/2 left-1/5"
          >
            <h3 class="text-xl">Project image not available!</h3>
          </div>
          <div class="flex flex-col justify-center-safe p-4">
            <div class="flex flex-row justify-evenly">
              <h3 class="text-2xl font-bold text-emerald-300">
                {{ project.title }}
              </h3>
              <a
                *ngIf="project.link"
                [href]="project.link"
                class="px-6 py-2 bg-indigo-400 hover:bg-indigo-600 rounded-xl transition cursor-pointer"
                >Live</a
              >
              <a
                *ngIf="project.repo"
                [href]="project.repo"
                class="px-6 py-2 border border-emerald-500 hover:bg-emerald-500 hover:text-black rounded-xl transition cursor-pointer"
                >Repo</a
              >
            </div>
            <div class="p-6">
              <p class="text-gray-300">{{ project.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation Buttons -->
  <div
    class="flex justify-between items-center mt-4 min-w-[10%] max-w-md mx-auto"
  >
    <button
      (click)="prev()"
      class="text-emerald-300 hover:text-white transition"
    >
      ← Prev
    </button>
    <div class="flex space-x-2">
      <button
        *ngFor="let i of projects; let j = index"
        class="w-2.5 aspect-square rounded-full"
        [class.bg-emerald-300]="j === currentIndex"
        [class.bg-white]="j !== currentIndex"
        (click)="goTo(j)"
      ></button>
    </div>
    <button
      (click)="next()"
      class="text-emerald-300 hover:text-white transition"
    >
      Next →
    </button>
  </div>
</section>
